* {
    font-family: sans-serif;
    background-color: rgb(245, 245, 245);
}

h1 {
    font-size: 24px;
    color: #242424;
    font-weight: 900;
}

h2 {
    font-size: 20px;
    color: #606060;
    font-weight: 800;
}

p {
    font-size: 14px;
    padding-top: 30px;
    
}

ul{
    
    border-style: solid;
    border-color: blue;
    list-style: none;
    width: 23%;
    border-width: 2px;
    padding: 0%;
    margin-left: 10%;
}

li{
    font-family: monospace;
    font-size: 18px;
    padding: 10px;    
    
}

.verde{
    color: green;
}

a{
    font-weight: bold;
    color: orange;
    text-decoration: underline;
    transition: background-color .5s
}

a:hover{
    background-color: rgba(0, 0, 0, 0.1);
}


